rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthUser() {
    	return request.auth != null && request.auth.token.email_verified == true;
    }

    function isAdmin() {
      return isAuthUser() && exists(/databases/(default)/documents/admin/admin) &&
            request.auth.uid in get(/databases/(default)/documents/admin/admin).data.uids;
    }
    
    match /{userId}/{allPaths=**} {
      allow read: if isAuthUser();
      allow write, delete: if isAuthUser() && request.auth.uid == userId;
    }
    
    match /gallery/{userId}/{allPaths=**} {
    	allow read: if true;
      allow write, delete: if isAuthUser() && request.auth.uid == userId;
    }
    
    match /posts/{postId}/{allPaths=**} {
    	allow read: if true;
      allow write: if isAdmin();
    }

    match /profilePhotos/{userId}/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAuthUser() && request.auth.uid == userId;
    }
  }
}
