@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0a3b2e;
  --primaryTint: rgba(10, 59, 46, 0.65);
  --secondary: #feba12;
  --secondaryTint: #feba1280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0a3b2e;
    --primaryTint: rgba(10, 59, 46, 0.65);
    --secondary: #feba12;
    --secondaryTint: #feba1280;
  }
}

html,
body {
  background-color: var(--primary);
  font-family: var(--font-poppins-bold);
  min-height: 100%;
}

h1 {
  font-size: 2rem;
  font-family: var(--font-playfair-display);
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-playfair-display);
}

h3 {
  font-size: 1.25rem;
  font-family: var(--font-playfair-display);
}

h4 {
  font-size: 1rem;
  font-family: var(--font-playfair-display);
}

p {
  font-size: 1rem;
  font-family: var(--font-poppins-regular);
}
