.page {
  overflow: hidden;
}

.screenshot-container {
  height: 75vh;
  margin: auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.screenshot {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  transform: translateY(calc(50vh - 175px));
  transition: transform 0.5s ease;
}

.screenshot:hover {
  transform: translateY(25vh);
}

.login-container {
  background-color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  padding-bottom: 0;
}

.login-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 60%;
}

.login-title {
  font-size: 40px;
  font-family: var(--font-chloe-regular);
}

.login-header {
  z-index: 2;
  font-family: var(--font-poppins-medium);
  padding: 10px;
  background-color: var(--primary);
}
