.header {
  width: 100vw;
  height: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  font-family: var(--font-poppins-medium);
  padding: 10px;
  background-color: var(--primary);
  padding-left: 20px;
  padding-right: 20px;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
  padding-right: 20px;
}

.navbar {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.menu {
  list-style: none;
  display: none;
  background-color: var(--secondary);
  position: absolute;
  top: 20px;
  right: 90px;
  border-radius: 20px;
  width: 150px;
}

.menu.open {
  display: block;
}

.menu li {
  padding: 10px;
  text-align: center;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.menu li a:hover {
  background-color: #333;
  color: primary;
}

.hamburger-view {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 5px;
  display: flex; /* Ensure it works for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hamburger-view:hover {
  background-color: var(--secondaryTint);
  transition: background-color 0.3s ease;
}

.hamburger {
  height: 50px;
  width: 50px;
  display: flex; /* Added to center the content inside */
  justify-content: center;
  align-items: center;
}

.bars {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  align-self: center;
  transition: transform 0.3s ease;
}

.header-with-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
